*.pdf
nlp_env
*.csv
reports/
intro_to_nlp.ipynb

# esg_bert
esg_bert/vocab.txt
esg_bert/bert_model/*
!esg_bert/bert_model/index_to_name.json
esg_bert/bert_env/*
esg_bert/model_store/*
esg_bert/logs
esg_bert/input_files/*.txt
esg_bert/logs

# scrapy
scrapy/csr_reports/csr_reports/__pycache__
scrapy/csr_reports/csr_reports/spiders/__pycache__